body
{
    margin:0;
    width:100vw;
    height:100vh;
    overflow:auto;
    overflow-x:hidden;
    
}
.backgroundimg {
    position:absolute;
    background-image: url(backgroundcnf.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height:100%;
    background-color:black;
    overflow:hidden;
}
.nav{
    position: absolute;
    width: 100%;
    min-width: 100%;
    z-index:1;
    overflow:hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010080;
    font-size: 20px;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }


        li a:hover {
            background-color: #010080;
        }
.add {
    position: absolute;
    top: 100vh;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    z-index: 100000;
}
@media all and (max-width: 200px) {
    body{
        background-size: cover;
        width:100%;
    }
                               }